{% load begood_forms_tags hotlinks i18n bootstrap3 %}

<span class="anchor" id="form-{{ begood_form.id }}"></span>
<form class="form-{{begood_form.id}}" method="post"
  action="{% if action %}{{ action }}{% else %}#form-{{ begood_form.id }}{% endif %}"
  {% if begood_form.have_filefields %} enctype="multipart/form-data"{% endif %} >
  {% if form.is_valid %}
      {{ valid_content|safe }}
  {% elif not begood_form.is_open %}
    {% if begood_form.is_closed %}
      {{ begood_form.name }} stängde {{ begood_form.end_date|date:'d-m-Y H:i' }}
    {% elif begood_form.to_open %}
      {{ begood_form.name }} öppnar {{ begood_form.start_date|date:'d-m-Y H:i' }}
    {% else %}
      {{ begood_form.name }} har inte öppnat ännu.
    {% endif %}
  {% else %}
    {{ description|hotlinks|safe }}
    {% csrf_token %}
    {% for field in form %}
      {% if field.name|is_row %}<div class="row">{% endif %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <div class="{% if field.field.required %}required{% endif %} {{ field.name|get_field_class }}">
        {% if field|field_type == 'headerwidget' %}
          {% bootstrap_field field %}
        {% else %}
          {% if not field.field.required and field|field_type not in 'select,clearablefileinput' %}
            <div class="form-group">
              <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if field|field_type == 'textarea' %}
              <textarea cosl="40" rows="10" class="form-control" id="{{ field.id_for_label }}" maxlength="255" placeholder="{{ field.label }}" ></textarea>
              {% else %}
              <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              <input class="form-control" id="{{ field.id_for_label }}" maxlength="255" name="{{ field.name }}" placeholder="{{ field.label }}" type="{{ field|field_type }}">
              {% endif %}
            </div>
          {% else %}
            {% if field|field_type = 'clearablefileinput' %}
              {% bootstrap_field field show_help=False %}
            {% else %}
              {% bootstrap_field field %}
            {% endif %}
          {% endif %}
        {% endif %}
        </div>
      {% endif %}
      {% if field.name|is_end_of_row %}</div>{% endif %}
    {% endfor %}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        {% trans 'Submit' %}
      </button>
    </div>
  {% endif %}
</form>
